<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>
      You are using Node.js <span id="node"></span>,
      Chromium <span id="chrome"></span>,
      Electron <span id="electron"></span>,
      and <code>electron-webpack</code> <span id="electron-webpack"></span>.
    </p>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
